{% extends 'base.html.twig' %}

{% block title %}Composition{% endblock %}

{% block body %}
<div class = "backshow">
    <h1>Composition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ composition.id }}</td>
            </tr>
            <tr>
                <th>Unity</th>
                <td>{{ composition.unity }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ composition.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_composition_index') }}">back to list</a>

    <a class="btn btn-warning " href="{{ path('app_composition_edit', {'id': composition.id}) }}">edit</a>

    {{ include('composition/_delete_form.html.twig') }}
</div>
{% endblock %}
