{% extends 'base.html.twig' %}

{% block title %}Liste des Ingrédients{% endblock %}

{% block body %}
<div class="backshow">
    <h1>Liste des Ingrédients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Images</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for food in food %}
            <tr>
                <td>{{ food.id }}</td>
                <td>{{ food.name }}</td>
                <td> <img class="foodPic"  src="{{ asset('' ~ food.nameImage ~ '') }}"</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_food_show', {'id': food.id}) }}">Détail</a>
                    <a class="btn btn-warning" href="{{ path('app_food_edit', {'id': food.id}) }}">Edition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_food_new') }}">Ajouter</a>
</div>
{% endblock %}
