{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}


{% block body %}
<div class="backshow">
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Images</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td> <img class="categoryPic"  src="{{ asset('' ~ category.nameImage ~ '') }}"</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_category_show', {'id': category.id}) }}">Détail</a>
                    <a class="btn btn-warning" href="{{ path('app_category_edit', {'id': category.id}) }}">Edition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_category_new') }}">Ajouter</a>
</div>
{% endblock %}
