{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class = "backshow">
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ category.nameImage }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_category_index') }}">Retour à l'index</a>

    <a class="btn btn-warning " href="{{ path('app_category_edit', {'id': category.id}) }}">Edition</a>

    {{ include('category/_delete_form.html.twig') }}
</div>
{% endblock %}
