{% extends 'base.html.twig' %}

{% block title %}Hello BackHomeController!{% endblock %}

{% block body %}

<div class="col-sm-6">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Test</h5>
      <p class="card-text">Test upload d'images</p>
    <a class="btn btn-success" href="{{ path('app_test_new') }}" class="card-link">Create new</a>
    <a class="btn btn-warning" href="{{ path('app_test_index') }}"  class="card-link">Index </a>
  </div>
</div>
</div>
</div>


<div class="col-sm-6">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Recipe</h5>
      <p class="card-text">Création et moddification  des recettes</p>
    <a class="btn btn-success" href="{{ path('app_recipe_new') }}" class="card-link">Create new</a>
    <a class="btn btn-warning" href="{{ path('app_recipe_index') }}"  class="card-link">Index </a>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-6 mb-3 mb-sm-0">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Food</h5>
      <p class="card-text"> Création et moddification des ingrédients</p>
   <a class="btn btn-success" href="{{ path('app_food_new') }}" class="card-link">Create new </a>
 <a class="btn btn-warning" href="{{ path('app_food_index') }}" class="card-link">Index </a>
  </div>
</div>
</div>

  <div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Composition</h5>
        <p class="card-text">Création et moddification des compositions des recettes</p>
      <a class="btn btn-success" href="{{ path('app_composition_new') }}" class="card-link">Create new</a>
      <a class="btn btn-warning" href="{{ path('app_composition_index') }}"  class="card-link">Index </a>
    </div>
  </div>
</div>
</div>

  <div class="row">
<div class="col-sm-6 mb-3 mb-sm-0">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Virtue</h5>
        <p class="card-text"> Création et moddification des vertues</p>
     <a class="btn btn-success" href="{{ path('app_virtue_new') }}" class="card-link">Create new </a>
   <a class="btn btn-warning" href="{{ path('app_virtue_index') }}" class="card-link">Index </a>
    </div>
  </div>
</div>
  <div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Category</h5>
        <p class="card-text">Création et moddification  des catégories</p>
      <a class="btn btn-success" href="{{ path('app_category_new') }}" class="card-link">Create new</a>
      <a class="btn btn-warning" href="{{ path('app_category_index') }}"  class="card-link">Index </a>
    </div>
  </div>
</div>
</div>

  <div class="row">
<div class="col-sm-6 mb-3 mb-sm-0">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Utilisateurs</h5>
        <p class="card-text"> Création et moddification des utilisateurs</p>
     <a class="btn btn-success" href="{{ path('app_user_index') }}"  class="card-link">Create new </a>
   <a class="btn btn-warning" href="{{ path('app_user_index') }}"  class="card-link">Index </a>
    </div>
  </div>
</div>
{% endblock %}
